{% load raw %}

<div id="operation_id" style="display:none">{{ operation_id }}</div>
<script type="text/javascript" src="/_ah/channel/jsapi"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"
  type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
  STATUS_MISSING_URL = "{% url status-missing domain=domain %}";
  STATUS_TOKEN_URL = "{% url status-token domain=domain %}";
  STATUS_CLEAR_URL = "{% url status-token-clear domain=domain %}";
  STATUS_OPERATIONS_URL = "{% url status-operations domain=domain %}";
  STATUS_FINISHED_URL = "{% url status-finished domain=domain %}";
  // URIs that know how to retrieve totals for an operation
  UNITS_TOTALS_URL = "{% url units:xhr-totals %}";
</script>
{% raw %}
<script id="status-done-tmpl" type="text/x-jquery-tmpl" charset="utf-8">
  This operation
  {{ if finished_on }}
  completed on ${ finished_on }.
  {{ else }}
  is complete.
  {{ /if }}
  {{ if resume_url }}
  Please <a href="${ resume_url }" target="_blank">click here to proceed &rarr;</a>
  {{ /if }}
</script>
{% endraw %}
<script src="/static/js/status.js" type="text/javascript" charset="utf-8" id="statusjs"></script>
