{% extends 'base.html' %}

{% block title %}Cloudlock for {{ domain }}{%  endblock %}

{% block content %}

    <a href="{% url gapps-index domain=domain %}">Return to the Wizard</a>
<br/>
<p>We may be unable to create users for your domain.  This may be due to a few reasons:</p>
    <ul>
        <li>If you have a Google Apps Free or EDU versions you will need to add users manually by following the steps below.</li>
        <li>If you have another version of Google Apps you will need to turn the provisioning API on then try again.  To enable the API, log in to your admin account, and click the Users and groups tab. Then click the Settings subtab, select the checkbox to enable the Provisioning API and save your changes.</li>
        <li>If you are still having problems please contact <a href="mailto:support@cloudlock.com">support@cloudlock.com</a></li>
    </ul>
    <br/>
<p>How to manually create test users:</p>
            <ol>
                <li>Download this csv containing usernames <a href="/static/usernames.csv">Username List</a></li>
                <li>Replace "DOMAIN" with {{ domain }}</li>
                <li>Follow these instructions from Google to perform a bulk upload: <a href="http://www.google.com/support/a/bin/answer.py?answer=40057">Bulk Upload Instructions</a></li>
                <li>Enter 0 for "Number of users to create" and the domain populator will create documents for all users in the domain.</li>
            </ol>



 
{% endblock %}

{% block bodyendscript %}
    <script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
{% endblock %}