{% extends 'base.html' %}

{% block title %}Domain Setup{% endblock %}

{% block content %}

<h2>Welcome to CloudLock Domain Populator for {{domain}}!</h2>

<p>This tool creates test users and documents for your domain, {{domain}}.</p>

{% if callback %}
<p class="warning">
  <b>Note: this application is not yet installed on your domain.</b>

  You must complete the installation process by clicking the <i>Continue</i>
  link below, and enabling the app within your domain.<br/><br/>

</p>

{% comment %}
<hr/>
{% include 'gapps/_marketo_form.html' %}
<hr/>
{% endcomment %}

{% else %}

<p class="allgood">Setup of your domain was completed successfully. 
  Thank you!<br/>
  <a href="{% url gapps-index domain=domain %}">Go to populator&nbsp;&raquo;</a>
</p>


{% endif %}

<p><b>
    {% if callback %}
    <a href="{{callback}}">Continue&nbsp;&raquo;</a>
    {% else %}
    <a href="{% url gapps-index domain=domain %}">Domain Populator Wizard&nbsp;&raquo;</a>
    (This will work only after the application is installed and authorized.)
    {% endif %}
</b></p>



{% endblock %}
