{% extends 'base.html' %}

{% block title %}Cloudlock for {{ domain }}{%  endblock %}

{% block content %}
    <script src='/_ah/channel/jsapi'></script>
    <script type="text/javascript">

    var state = {
        batch_id: '{{ batch_id }}',
        progress_pct: '{{ progress_pct }}'
      };

    updateStatus = function() {
        lastUpdate = (new Date()).getTime();


        $("#progress-bar").attr("src", "http://chart.apis.google.com/chart?cht=bhs&chs=200x36&chd=t:"+state.progress_pct+"&chco=4d89f9");

        var statContainer = $(".stat_progress_pct").text(state.progress_pct);
        if(state.progress_pct) {
            statContainer.parent().removeClass("zero");
        }


      };

    sendMessage = function(path, opt_param) {
        path += '?g=' + state.batch_id;
        if (opt_param) {
          path += '&' + opt_param;
        }
        var xhr = new XMLHttpRequest();
        xhr.open('POST', path, true);
        xhr.send();
      };

    onOpened = function() {
        sendMessage('/opened');
      };

      onMessage = function(m) {
        newState = JSON.parse(m.data);
        state.progress_pct = newState.progress_pct;
        updateStatus();
      }

      openChannel = function() {
        var token = '{{ token }}';
        var channel = new goog.appengine.Channel(token);
        var handler = {
          'onopen': onOpened,
          'onmessage': onMessage,
          'onerror': function() {},
          'onclose': function() {}
        };
        var socket = channel.open(handler);
        socket.onopen = onOpened;
        socket.onmessage = onMessage;
      }

      initialize = function() {
        openChannel();
{#        var i;#}
{#        for (i = 0; i < 9; i++) {#}
{#          var square = document.getElementById(i);#}
{#          square.onmouseover = new Function('highlightSquare(' + i + ')');#}
{#          square.onclick = new Function('moveInSquare(' + i + ')');#}
{#        }#}
{#        onMessage({data: '{{ initial_message }}'});#}
      }

      setTimeout(initialize, 100);


    </script>

<p>Welcome to the Cloudlock Skeleton program.  You are connected on {{ domain }}</p>


    <a href="" id="status-update"></a>

    <p>
        <img style="position: relative; top: 4px;" id="progress-bar" src="https://chart.googleapis.com/chart?cht=bhs&chs=200x36&chd=t:{{progress_pct}}&chco=4d89f9" width="200" height="36"/>
        <span style="font-size: 140%; position: relative; top: -4px; padding-left:1em">
        <span class="stat_progress_pct">{{progress_pct}}</span>% done
        </span>
    </p>

 
{% endblock %}

{% block bodyendscript %}
    <script type="text/javascript" src="/static/js/jquery-1.4.4.min.js"></script>
{% endblock %}