{% extends 'base.html' %}

{% block head_extras %}
{#  {% include 'gapps/_jquery_ui_headers.html' %}#}
    <link type="text/css" href="/static/js/jquery-ui/css/aprigo/jquery-ui-1.8.9.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
    <script src="/static/js/dialog.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/pending_admin_actions.js"></script>
    
  <link rel="stylesheet" href="/static/css/screen.css" type="text/css"
    media="screen, projection">
  <link rel="stylesheet" href="/static/css/print.css" type="text/css"
    media="print">
  <!--[if IE]>
    <link rel="stylesheet" href="/static/css/ie.css" type="text/css"
      media="screen, projection">
  <![endif]-->
  <link rel="stylesheet" href="/static/css/vault.css" type="text/css"
    media="screen, projection">

{% endblock %}

{% block title %}Cloudlock for {{ domain }}{%  endblock %}


{% block content %}

  {% with "10" as field_span %}




  <div class="container">
    <table class="header" ><tr><td >
    <h1>Domain Populator Wizard</h1>
        <p style="font-size:92%">
      Populate your domain with test users and documents.
    <br/>
      Navigate the wizard by using the "Continue" button or clicking on
      a tab.
    </p>
    </td><td style="width:50%;">
            <div style="border:1px; border-style:solid; background-color: #EEEEFF; border-color: #9999FF; display:block; padding:1em;">
                <span style="color: #666688; font-size: 120%; font-weight: bold;">
  <span>Total Users: {{ users_created }}</span><span style="padding-left:4em; text-align:right;">Total Documents: {{ docs_created }}</span>
                    </span></div><div style="border:1px; border-style:solid; background-color: #EEEEFF; border-color: #9999FF; display:block; padding-left:1em; padding-right:1em; text-align:center;">
                    <span style="font-size:75%">Audit and manage access rights for all docs in the domain. <br/>Implement records management for compliance & governance with CloudLock.<br/>
        <a href="http://www.google.com/enterprise/marketplace/viewListing?productListingId=5649+9637511031539972110&amp;utm_medium=button&amp;utm_source=button-aprigo.com" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','www.google.com']);" style="padding-left:2px;">Click Here</a>
    </span>
    </div>
    </td></tr>
    </table>
    <div class="tabbed-left errortabs">
      <div class="span-6">
        <ul>
          <li><a href="#tabs-users">Users</a></li>
          <li><a href="#tabs-docs">Documents</a></li>
          <li><a href="#tabs-options">Options</a></li>
          <!--
          <li><a href="#tabs-vaultactions">Vault Actions</a></li>
          <li id="last"><a href="#tabs-notifications">Notifications</a></li>
          -->
        </ul>
      </div>
      <div class="span-16 last">
        <form id="wizard_form" action="{% url gapps-index domain=domain %}" method="post"
         accept-charset="utf-8" id="wizard-form">
          <div id="tabs-users" class="tab span-16">
            <h2>Create Test Users</h2>
              <div id="create_users_error_msg"></div>
              <div class="ff">

                <div class="span-{{ label_span|default:"6" }} {% if createusersform.num_users.field.required %}required{% endif %}">
                  {{ createusersform.num_users.label_tag }}
                </div>
                <div class="span-{{ field_span|default:"18" }} last field">
                  {{ createusersform.num_users|safe }}
                  {{ createusersform.num_users.errors }}
                </div>
                <div class="prefix-{{ help_prefix }} span-{{ help_span|default:"15" }} last">
                  <span class="help">{{ createusersform.num_users.help_text|safe }}</span>
                </div>
              
              </div>
              <div id="div_create_for_all" style="display:none;" class="ff">
                <div class="span-{{ label_span|default:"10" }} {% if createusersform.create_for_all.field.required %}required{% endif %}">
                  {{ createusersform.create_for_all|safe }} {{ createusersform.create_for_all.label_tag }}
                </div>
                <div class="span-{{ field_span|default:"18" }} last field">
                  {{ createusersform.create_for_all.errors }}
                </div>
                <div class="prefix-{{ help_prefix }} span-{{ help_span|default:"15" }} last">
                  <span class="help">{{ createusersform.create_for_all.help_text|safe }}</span>
                </div>
              </div>
          {{ createusersform.hidden1.as_hidden }}
          {{ createusersform.hidden2.as_hidden }}
          </div>
          <div id="tabs-docs" class="tab span-16">
            <h2>Create Test Documents</h2>
              {% with createdocsform as form %}

                <div class="ff">
                <div class="prefix-{{ help_prefix }} span-{{ help_span|default:"15" }} last">
                  <span class="help">{{ form.runtolimit.help_text|safe }}</span>
                </div>
                <div class="span-{{ label_span|default:"10" }}" style="padding-top:2em;margin-bottom:0;">
                  {{ form.runtolimit_choice.0|safe }}<br/>
                    {{ form.runtolimit_choice.1|safe }}
                </div>
                <div class="span-{{ label_span|default:"10" }} last field">
                  {{ form.runtolimit.errors }}
                </div>


              </div>
                <div style="padding-left:5em;margin:0;">
                <div class="prefix-{{ help_prefix }} span-{{ help_span|default:"15" }} last">
                  <span class="help">{{ form.userlimit.help_text|safe }}</span>
                </div>
                <div class="span-{{ label_span|default:"10" }}">
                  {{ form.userlimit.label_tag }}
                </div>
                <div class="span-{{ field_span|default:"18" }} last field">
                  {{ form.userlimit|safe }}
                  {{ form.userlimit.errors }}
                </div>


              </div>
                  <br/>
                  <br/>
              <div class="ff">

                <div class="span-{{ label_span|default:"6" }} {% if form.shareexternal.field.required %}required{% endif %}" style="padding-top:2em;">
                  {{ form.shareexternal|safe }} {{ form.shareexternal.label_tag }}
                </div>
                <div class="span-{{ label_span|default:"6" }} last field">
                  {{ form.shareexternal.errors }}
                </div>
                <div class="prefix-{{ help_prefix }} span-{{ help_span|default:"15" }} last">
                  <span class="help">{{ form.shareexternal.help_text|safe }}</span>
                </div>

              </div>
                  <br/>
              {% endwith %}
          </div>
          <div id="tabs-options" class="tab span-16">
            <h2>Advanced Options</h2>

              {% with numdocsettingsform as form %}
                <fieldset><legend>Number of Documents Per User</legend>
                    Distribution of documents per user.
                {% include "gapps/block.html" %}
                </fieldset>
              {% endwith %}
              {% with doctypesettingsform as form %}
                  <fieldset><legend>Document Types</legend>
                      Distribution of document types being created.
                {% include "gapps/block.html" %}
                  </fieldset>
              {% endwith %}
              {% with internalsharesettingsform as form %}
                  <fieldset><legend>Internal Sharing Per Document</legend>
                      Distribution of domain users shared with each document.
                {% include "gapps/block.html" %}
                  </fieldset>
              {% endwith %}
                  <fieldset><legend>External Sharing Per Document</legend>
                  <fieldset>
                      Distribution of external sharing with each document.
                      {% with externalsharesettingsform as form %}
                {% include "gapps/block.html" %}
                          {% endwith %}
                  </fieldset>
                  <fieldset>
                  What External users will be shared with the documents.
                        {% with externalusersform as form %}
                            {% include "gapps/two-col.html" %}
                        {% endwith %}
                  </fieldset>
                  </fieldset>

          </div>
          
          <div class="span-16" id="wizard-buttons">
            <button type="submit" class="" id="continue">
              <img src="/static/img/arrow_right.png" />
              Continue
            </button>
            <div>or</div>
            <button type="button" class="positive" id="finish">
              <img src="/static/img/completed.png" />
              Finish
            </button>
          </div>
{#          {{ multi_vault_form }}#}

        <!-- dialogs -->
    <div id="create_users_dialog" title="Login">
        <p id="create_users_dialog_text" class="create_users_standard_dialog">
            </p><div id="username_error_msg"></div>
            <div class="ff">

                <div class="span-6 ">
                  <label for="id_diag_username">Username</label>
                </div>
                <div class="span-10 last field">
                  <input type="text" name="username" id="id_diag_username">@{{ domain }}

                </div>
                <div class="prefix- span-15 last">
                  <span class="help"></span>
                </div>

            </div>
            <div class="ff">

                <div class="span-6 ">
                  <label for="id_diag_password">Password</label>
                </div>
                <div class="span-10 last field">
                  <input type="password" name="password" id="id_diag_password">

                </div>
                <div class="prefix- span-15 last">
                  <span class="help"></span>
                </div>

            </div>
        <p></p>
        </p>
    </div>
        </form>
      </div>
    </div>
  </div>
  {% endwith %}


{% endblock %}

{% block bodyendscript %}
  {{ block.super }}
  <script src="/static/js/vault.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/js/jquery.qtip.js" type="text/javascript"
   charset="utf-8"></script>
  <link rel="stylesheet" href="/static/css/jquery.qtip.css" type="text/css"
   media="screen" charset="utf-8">
  <link rel="stylesheet" href="/static/css/timePicker.css" type="text/css"
   media="screen" charset="utf-8">
  <script src="/static/js/jquery.timePicker.min.js" type="text/javascript"
    charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
    {% include 'js/wizard_form.js' %}
    $(document).ready(setupForm);

</script>
{% endblock %}