{% extends 'base.html' %}

{% block head_extras %}
{#  {% include 'gapps/_jquery_ui_headers.html' %}#}
    <link type="text/css" href="/static/js/jquery-ui/css/aprigo/jquery-ui-1.8.9.custom.css" rel="stylesheet" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
    <script src="/static/js/dialog.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/pending_admin_actions.js"></script>
    
  <link rel="stylesheet" href="/static/css/screen.css" type="text/css"
    media="screen, projection">
  <link rel="stylesheet" href="/static/css/print.css" type="text/css"
    media="print">
  <!--[if IE]>
    <link rel="stylesheet" href="/static/css/ie.css" type="text/css"
      media="screen, projection">
  <![endif]-->
  <link rel="stylesheet" href="/static/css/vault.css" type="text/css"
    media="screen, projection">

{% endblock %}

{% block title %}Cloudlock for {{ domain }}{%  endblock %}


{% block content %}

  {% with "10" as field_span %}




  <div class="container">
    <table class="header" ><tr><td >
    <h1>Domain Populator Wizard</h1>
        <p>
      Populate your domain with test users and documents.
    <br/>
      Navigate the wizard by using the "Continue" button or clicking on
      a tab.
    </p>
    </td><td style="vertical-align:top; padding-top:0; text-align:right;">


{#                <button type="button" class="positive" id="getCloudLock">#}

                   <a href="http://www.google.com/enterprise/marketplace/viewListing?productListingId=5649+9637511031539972110&amp;utm_medium=button&amp;utm_source=button-aprigo.com" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','www.google.com']);"><img src="/static/img/marketingbanner.png" alt=""/></a>
{#                </button>#}



    </td></tr>
    </table>
    <div class="tabbed-left errortabs">
      <div class="span-6">
        <ul>
          <li><a href="#tabs-users">Users</a></li>
          <li><a href="#tabs-docs">Documents</a></li>
          <li><a href="#tabs-options">Options</a></li>
          <!--
          <li><a href="#tabs-vaultactions">Vault Actions</a></li>
          <li id="last"><a href="#tabs-notifications">Notifications</a></li>
          -->
        </ul>
      </div>
      <div class="span-13 last">
        <form id="wizard_form" action="{% url gapps-index domain=domain %}" method="post"
         accept-charset="utf-8" id="wizard-form">
          <div id="tabs-users" class="tab span-13" style="border-right: 1px solid #BBB;">
            <h2>Create Test Users</h2>
              <div id="create_users_error_msg"></div>
              <div class="ff">

                <div class="span-{{ label_span|default:"6" }} {% if createusersform.num_users.field.required %}required{% endif %}">
                  {{ createusersform.num_users.label_tag }}
                </div>
                <div class="span-{{ field_span|default:"18" }} last field">
                  {{ createusersform.num_users|safe }}
                  {{ createusersform.num_users.errors }}
                </div>
                <div class="prefix-{{ help_prefix }} span-{{ help_span|default:"15" }} last">
                  <span class="help">{{ createusersform.num_users.help_text|safe }}</span>
                </div>
              
              </div>
              <div id="div_create_for_all" style="display:none;" class="ff">
                <div class="span-{{ label_span|default:"10" }} {% if createusersform.create_for_all.field.required %}required{% endif %}">
                  {{ createusersform.create_for_all|safe }} {{ createusersform.create_for_all.label_tag }}
                </div>
                <div class="span-{{ field_span|default:"18" }} last field">
                  {{ createusersform.create_for_all.errors }}
                </div>
                <div class="prefix-{{ help_prefix }} span-{{ help_span|default:"15" }} last">
                  <span class="help">{{ createusersform.create_for_all.help_text|safe }}</span>
                </div>

              </div>
              
          {{ createusersform.hidden1.as_hidden }}
          {{ createusersform.hidden2.as_hidden }}
          {{ createusersform.hidden3.as_hidden }}

          </div>
          <div id="tabs-docs" class="tab span-13" style="border-right: 1px solid #BBB;">
            <h2>Create Test Documents</h2>
              {% with createdocsform as form %}

              <div class="ff">

                <div class="prefix-{{ help_prefix }} span-{{ help_span|default:"15" }} last">
                  <span class="help">{{ form.userlimit.help_text|safe }}</span>
                </div>
                <div class="span-{{ label_span|default:"10" }} {% if form.userlimit.field.required %}required{% endif %}">
                  {{ form.userlimit.label_tag }}
                </div>
                <div class="span-{{ field_span|default:"18" }} last field">
                  {{ form.userlimit|safe }}
                  {{ form.userlimit.errors }}
                </div>
                  </div>
                  <br/>
                  <br/>
              <div class="ff">

                <div class="span-{{ label_span|default:"6" }} required" style="padding-top:2em;">
                  {{ form.shareexternal|safe }} {{ form.shareexternal.label_tag }}
                </div>
                <div class="span-{{ label_span|default:"6" }} last field">
                  {{ form.shareexternal.errors }}
                </div>
                <div class="prefix-{{ help_prefix }} span-{{ help_span|default:"15" }} last">
                  <span class="help">{{ form.shareexternal.help_text|safe }}</span>
                </div>

              </div>

              {% endwith %}

          </div>
          <div id="tabs-options" class="tab span-13" style="border-right: 1px solid #BBB;">
            <h2>Advanced Options</h2>

              {% with numdocsettingsform as form %}
                <fieldset class="span-11"><legend>Number of Documents Per User</legend>
                    Distribution of documents per user.
                {% include "gapps/block.html" %}
                </fieldset>
              {% endwith %}
              {% with doctypesettingsform as form %}
                  <fieldset class="span-11"><legend>Document Types</legend>
                      Distribution of document types being created.
                {% include "gapps/block.html" %}
                  </fieldset>
              {% endwith %}
              {% with internalsharesettingsform as form %}
                  <fieldset class="span-11"><legend>Internal Sharing Per Document</legend>
                      Distribution of domain users shared with each document.
                {% include "gapps/block.html" %}
                  </fieldset>
              {% endwith %}
                  <fieldset class="span-11"><legend>External Sharing Per Document</legend>
                  <fieldset class="span-10">
                      Distribution of external sharing with each document.
                      {% with externalsharesettingsform as form %}
                {% include "gapps/block.html" %}
                          {% endwith %}
                  </fieldset>
                  <fieldset class="span-10">
                  Which external users will be shared with the documents.
                        {% with externalusersform as form %}
                            {% include "gapps/two-col.html" %}
                        {% endwith %}
                  </fieldset>
                  </fieldset>

          </div>
          
          <div class="span-13" id="wizard-buttons" style="border-right: 1px solid #BBB; width:495px; border-bottom: 1px solid #BBB; padding-top:1em;">
            <button type="submit" class="" id="continue">
              <img src="/static/img/arrow_right.png" />
              Continue
            </button>
            <div>or</div>
            <button type="submit" class="positive" id="finish">
              <img src="/static/img/completed.png" />
              Finish
            </button>
          </div>
{#          {{ multi_vault_form }}#}

{#        <!-- dialogs -->#}
{#    <div id="create_users_dialog" title="Login">#}
{#        <p id="create_users_dialog_text" class="create_users_standard_dialog">#}
{#            </p><div id="username_error_msg"></div>#}
{#        <p>Credentials for an administrator's account are required for creating users.#}
{#            <br/>This data is never stored or saved. <a href="{% url gapps-domain-wizard-learn-more domain=domain %}">Learn More</a>#}
{#        </p>#}
{##}
{#            <div class="ff">#}
{##}
{#                <div class="span-6 ">#}
{#                  <label for="id_diag_username">Username</label>#}
{#                </div>#}
{#                <div class="span-10 last field">#}
{#                  <input type="text" name="username" id="id_diag_username">@{{ domain }}#}
{##}
{#                </div>#}
{#                <div class="prefix- span-15 last">#}
{#                  <span class="help"></span>#}
{#                </div>#}
{##}
{#            </div>#}
{#            <div class="ff">#}
{##}
{##}
{#                <div class="span-6 ">#}
{#                  <label for="id_diag_password">Password</label>#}
{#                </div>#}
{#                <div class="span-10 last field">#}
{#                  <input type="password" name="password" id="id_diag_password">#}
{##}
{#                </div>#}
{#                <div class="prefix- span-15 last">#}
{#                  <span class="help"></span>#}
{#                </div>#}
{##}
{#            </div>#}
{#        <p></p>#}
{#        </p>#}
{#    </div>#}
        </form>
      </div>
    <div style="display:block; margin:0.5em;">
        <span style="color: #666688;font-weight: bold;">
            <span style="padding:0.5em;">
  Total Users: {{ users_created }}
                </span>
            <br/>
            <span style="padding:0.5em;">
                Total Documents: {{ docs_created }}
               </span>
                    </span>

    </div>
    </div>


  </div>
  {% endwith %}
<br/>
    <br/>

{% endblock %}

{% block bodyendscript %}
  {{ block.super }}
  <script src="/static/js/vault.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/js/jquery.qtip.js" type="text/javascript"
   charset="utf-8"></script>
  <link rel="stylesheet" href="/static/css/jquery.qtip.css" type="text/css"
   media="screen" charset="utf-8">
  <link rel="stylesheet" href="/static/css/timePicker.css" type="text/css"
   media="screen" charset="utf-8">
  <script src="/static/js/jquery.timePicker.min.js" type="text/javascript"
    charset="utf-8"></script>

    <script type="text/javascript" charset="utf-8">
    $("#id_num_users").live('change', function() {
        if ($("#id_num_users").attr("value") == 0){
            $("#div_create_for_all").attr("style", "display:block;");
            $("#id_create_for_all").attr("checked", true);
        }
        else {
            $("#div_create_for_all").attr("style", "display:none;");
            $("#id_create_for_all").attr("checked", false);
        }
    });
    </script>

{% endblock %}
